<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <span class="first-color">Eco</span>
      <span class="second-color">Exchange</span>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        ABOUT
      </ion-button>
      <ion-button>
        RECYCLABLE
      </ion-button>
      <ion-button>
       SIGN-UP
      </ion-button>
      <ion-button>
        LOGIN
      </ion-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
   
  </div>
</ion-content>
