
<ion-header >
  <ion-toolbar>
    <div slot="start" class="menu-toggle-button" *ngIf="isMinimized">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </div>
    <ion-title>
      <span class="first-color">Eco</span>
      <span class="second-color">Exchange</span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        ABOUT
      </ion-button>
      <ion-button>
        RECYCLABLE
      </ion-button>
      <ion-button>
       SIGN-UP
      </ion-button>
      <ion-button>
        LOGIN
      </ion-button>
      <ion-avatar>
        <img [src]="logoUrl" alt="Logo">
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content >
  
  <div id="container">
    <h1><span class="second-color2">EcoExchange : Iskrapo'y Yaman,
      Kalikasan ay </span>
    <span class="first-color2">Pangalagaan</span></h1>
   
  </div>
</ion-content>
